
<div class="row" style="margin:1%;">
    <div class="col-md-6">
        <div ng-controller="MapController">
            <ng-map zoom-to-include-markers="true" style="height:600px;">
                <marker ng-repeat="mark in Coords" position="{{mark.lantitude}},{{mark.longtitude}}"></marker>
                <marker position="current" animation="Animation.BOUNCE" centered="true"></marker>
            </ng-map>
        </div>
    </div>
    <div class="col-md-6" ng-controller="RestaurantListController">
        <input type="text" placeholder="search" class="form-control" ng-model="choose" />

        
     
        <ul class="list-unstyled">
            <li dir-paginate= "rest in restaurants | filter : choose  | orderBy : 'name'| itemsPerPage: 6">
                <div class="list-group">
                    <a href="#/restaurant/{{rest.ProfileId}}" class="list-group-item ">
                        <h4 class="list-group-item-heading">{{rest.Name}}</h4>
                        <!--<img src='{{rest.image}}' width=100 height=100 class="img-rounded"/>-->
                        <p class="list-group-item-text">вулиця,{{rest.Street}}</p>
                    </a>
                </div>
            </li>
            <dir-pagination-controls></dir-pagination-controls>
        </ul>
    </div>
 </div>