/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
  padding:3px;
}
.custom-file-input::before {
  content: 'Select file';
  display: inline-block;
  background: -webkit-linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 5px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}

.field-validation-error {
        color: #ff0000;
    }

.field-validation-valid {
        display: none;
        border-color: #4ed805;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(252, 106, 106);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(252, 106, 106);
        background-color: #fff;
    }

    input.input-validation-error {
        border-color: #e80000;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(252, 106, 106);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgb(252, 106, 106);
        background-color: #fff;
    }

    .validation-summary-errors {
        font-weight: bold;
        color: #ff0000;
    }

    .validation-summary-valid {
        display: none;
    }

#admininfo 
{
    visibility:hidden;
}

.col {
    
    min-width:250px;
    max-width:290px;
    top:5px;
    display: inline-block;
}

.bord {border: 1px solid #999;
}
.ava {
    width: 98% !important;  
     border: 3px inset #999;
    position: relative;

}
#PhotoUrl
{
    width: 98%;  
     border: 3px inset #999;
    position: relative;

}

.usercomment{
    height:49px;
    word-wrap:break-word;
       background-color:#ffffff !important;
}


.reg {
padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  min-width: 800px;
}

.marg {
 margin: 5px;
}

.inputcontrol {
    display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
}

.myrow {
margin: 5px;
height: 95%;
width: 99%;
min-width: 800px;
}
.trashbtn
{
    top: -2px !important;
}
.mycol {
    margin:5px;
    float: left;
    width:20%;
    padding-left:3px;
    padding-left:3px;
   display: inline;
  
   border-radius: 5px;
}

.usercol {
    margin:5px;
    width:  calc(100% - 310px);
    min-width: 400px;
    top:5px;
    float: left;
    padding-left:0px;
    padding-left:0px;
    display: inline;
    border-radius: 5px; 
    height: 98%;

}

.fav {
        color: aqua !important;
        background-color: rgba(0, 75, 156, 0.76) !important;
        border-radius: 10px !important;
        width: 280px;
        height: 200px !important;
}
.fav a {
         top:-5px;
        right: 0px;
        color: #aaacff !important;    
}
.textalign {
    text-align: left !important;
}

.usertabfavorites 
{
    padding: 5px;
    width: 100%;

    border-radius: 5px;
    height: 100%;
}


.usertabcomments
{
    margin: 1px;
    padding: 5px;
    width: 100%;

    border-radius: 5px;
    min-height: 300px;
    max-height:800px;
    height: 100%;
}

.hei
{
 height: 95%;
}
.heiul
{
 height: calc(100% - 150px);
}
.wid {
    width: 98% !important;
    padding: 2px;
    border-radius: 5px;
}
.btn-lg-my {
    padding: 10px 16px;
  font-size: 18px;
  line-height: 1;
  border-radius: 6px;
  width: 100px !important;
}

.bord {
border: 0px solid #000;
}


.bord2 {
border: 0px solid #e80000;
 vertical-align: middle;
  text-align: left;
}

.bordradius {
border-radius: 10px;
}

.com-md-4-my {
    width: 30%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.com-md-2-my {
    width: 23%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.com-md-3-my {
    width: 30%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}
.com-md-0-my {
    width: 10%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.com-md-28-my {
    width: 28%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;

}

.com-md-1-my {
    width: 35%;
    float: left;
        position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.validation-summary-errors ul {
     list-style-type: none !important;
}

.hovereffect-my {
    width: 100%;
    height: 100%;
    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: pointer;
}
.hovereffect-my .overlay {
    width: 100%;
    position: absolute;
    overflow: hidden;
    left: 0;
	top: auto;
	bottom: 0;
	padding: 1em;
	height: 3em;
	background: #333;
	color: #ffffff;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
	-webkit-transform: translate3d(0,100%,0);
	transform: translate3d(0,100%,0);
}

.hovereffect-my img {
    display: block;
    position: relative;
	-webkit-transition: -webkit-transform 0.35s;
	transition: transform 0.35s;
}

.hovereffect-my:hover img {
-webkit-transform: translate3d(0,-10%,0);
	transform: translate3d(0,-10%,0);
}

.hovereffect-my:hover .overlay
{
	-webkit-transform: translate3d(0,0,0);
	transform: translate3d(0,0,0);
}

::-webkit-scrollbar {
    width: 12px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
.boooo {
    border: 1px solid rgba(0, 75, 156, 0.76);
    margin: 10px;
    padding:5px;
    width:220px;
    height: 320px;
    background-color: #fff;
}
.imgreservation {
    height:200px;
    width: 210px;
    border: 2px inset #f9f9f9;
    border-radius: 10px;
}


.boooo p {
    text-align: center;
}
.border a {
    text-align: center;

}
.moderreservation {
    border: 1px solid rgba(0, 75, 156, 0.76);
    margin: 10px;
    padding:5px;
    width:100%;
    height: 230px;
    background-color: #cbc9c9;
}
.reservationinfo {
    padding:5px;
  height:210px;
   width: 230px;
   margin:2px;
   border-radius: 6px;
    background-color: #f9f9f9;
}
.reservationmenu {
    display: inline-block;
    height:210px;
    margin:2px;
     border-radius: 6px;
    width: calc(100% - 240px) !important;
    position: relative;
    top: -214px;
    left: 234px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding:3px;
     background-color: #f9f9f9;
}
.reservationitem {
    padding:3px;
    display: inline-block;
    height:200px;
    margin:2px;
    border: 2px solid rgba(5, 5, 0, 0.075);
    width: 200px;
    position: relative;
    border-radius: 4px;
}
.reservationitemimage {
    height:140px;
    border-radius: 4px;
    width: 190px;
}
.border {
padding:10px;
border:1px solid blue;
border-radius: 15px;
}
.adminprofileimg
{
border:1px inset rgba(0, 0, 0, 0.075);
border-radius: 15px;
}

.profile-listitem{
      height: 24%;
    width: 24% ;
     float: left;
    margin: 5px 5px;
}

.mybnt {
width: auto !important;
}