<div class="container">

    <form action="enter.html" class="form-signin">
        <h2 class="form-signin-heading">Авторизація</h2>
        <label for="inputEmail" class="sr-only">Логін</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Логін" required="" autofocus="">
        <label for="inputPassword" class="sr-only">Пароль</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Пароль" required="">
        <div class="checkbox">
            <label>
                <input type="checkbox" value="remember-me"> Запам'ятати
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Увійти</button>
    </form>

</div> 


